<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALX blog</title>
</head>
<body>
    <h1>Witamy na blogu</h1>
    <p>Cześć {{ t_imie }}!</p>
    <p>Masz {{ t_wiek }} lat</p>

    {% if t_wiek >= 18 %}
        <p>Jestes pelnoletni</p>
    {% else %}
        <p>Jestes NIEpelnoletni</p>
    {% endif %}

</body>
</html>